.buttonStyle{
    background-color: transparent;
    border: 0;
    width: 4rem;
    cursor: pointer;
}

.name{
    display: none;
    font-size: 1em;
}

.officialName{
    font-size:"1em"
}

@media screen and (max-width:480px) {
    .officialName{
        display: none;
    }
    .name{
        display: block;
    }
}