.title {
  font-size: 2rem;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 1em;
}

.heroImage{
  width:40%;
}
.heroContent{
  width: 50%;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.view {
  text-align: center;
  margin-top: 3em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.gridContainer{
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 20px
}

.gridItems{
  display: inline-grid;
}

.card{
  height: 500px;
  max-width: 300px; 
  margin-top:1rem;
  padding:30px; 
  border:0.4px solid gray; 
  border-radius:10px;
}

.card:hover{
  box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.8);
}

.scrollingWrapperFlexbox{
  display: flex;
  overflow-x: scroll;
  a {
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .title{
    text-align: left;
    font-size: 1.2em;
  }

  .heroImage{
    width: 100%;
  }

  .heroContent{
    margin-top: 1rem;
    width: 100%;
  }
}

