@import "@styles/settings/_settings";


.country{
    display: flex;
    gap: 1em;
    align-items:flex-start;
}

.table{
    text-align: left;

    .tableColumn{
        padding-right: 2em;
        padding-bottom: 1em;
        width: 15em;
        max-width: 15em;
        font-weight: lighter;
    }
}
.tableHead{
    font-weight: 500;
}